:root {
  --primary-color: #ee4d2d;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --border-color : #dbdbdb;
  --gold-color : rgba(255,176,0,1);

  --light-black-color : rgba(0,0,0,.54);


  --facebook-color : #3a5a98;

  --header-height : 12rem;
  --navbar-height:3.548rem;
  --header-with-search-height:calc(var(--header-height) - var(--navbar-height));


  --value-font-size-12:1.2rem;
  --value-font-size-13:1.3rem;
  --value-font-size-14:1.4rem;
  --value-font-size-16:1.6rem;

  --value-font-weight-400:400;

  --value-box-shadow:0 .1rem .2rem #C0C0C0;
  --value-box-shadow-2:0 .1rem 3.125rem rgba(0,0,0,0.2);

  --value-border-radius :.2rem;
}
* {
  box-sizing: inherit;
}
html {
  /* HACK - 1rem = 10px */
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", "sans-serif";
  box-sizing: border-box;
  scroll-behavior: smooth;
}
ul {
  list-style: none;
  padding: inherit;
  margin: inherit;
}
img {
  width: 100%;
}
.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* Begin : Responesive */
/* .grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
.grid__full-width {
  width: 100%;
} */
.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -.5rem;
  margin-right: -.5rem;
}
.grid__column-2{
  padding-left: .5rem;
  padding-right: .5rem;
  width: 16.6667%;
}
.grid__column-2-4{
  padding-left: .5rem;
  padding-right: .5rem;
  width: 20%;
}
.grid__column-3{
  padding-left: .5rem;
  padding-right: .5rem;
  width: 25%;
}
.grid__column-4{
  padding-left: .5rem;
  padding-right: .5rem;
  width: 33.3334%;
}
.grid__column-6{
  padding-left: .5rem;
  padding-right: .5rem;
  width: 50%;
}
.grid__column-8{
  padding-left: .5rem;
  padding-right: .5rem;
  width: 66.6667%;
}
.grid__column-9{
  padding-left: .5rem;
  padding-right: .5rem;
  width: 75%;
}
.grid__column-10{
  padding-left: .5rem;
  padding-right: .5rem;
  width: 83.3334%;
}
.grid__column-12{
  padding-left: .5rem;
  padding-right: .5rem;
  width: 100%;
}
/* End : Responesive */
/* Begin : Root */
.d-none{
  display: none!important;
}
/* End : Root */
/* Begin : Modal */
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  -webkit-animation: fadeIn linear .1s;
          animation: fadeIn linear .1s;
  display: none;
}
.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal__body {
  --growth-from : 0.7;
  --growth-to : 1;
  position: relative;
  margin: auto;
  z-index: 1;
  -webkit-animation: growth linear .1s;
          animation: growth linear .1s;
}
/* End : Modal */
/* Begin : Button  */
.btn{
  padding: 0 1.2rem;
  min-width: 12.4rem;
  height: 3.4rem;
  text-decoration: none;
  border: none;
  border-radius: .2rem;
  font-size: 1.5rem;
  outline: none;
  cursor: pointer;
  color:var(--text-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1.6rem;
  background-color: var(--white-color);
}
.btn--size-s{
  height:3.2rem;
  font-size: 1.2rem;
  padding: 0 .8rem;
}
.btn.btn--normal:hover{
  background-color: rgba(0,0,0,0.05);
}
.btn.btn--primary{
  background-color: var(--primary-color);
  color: var(--white-color);
}
.btn.btn--disabled{
  cursor: default;
  background-color: #c3c3c3;
  color:#949494;
}
/* End : Button */
/* Begin : Select */
.select-input{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  min-width: 20rem;
  height: 3.4rem;
  padding: 0 1.2rem;
  border-radius: .2rem;
  background-color: var(--white-color);
  position: relative;
  margin: .4rem 0;
}
.select-input:hover .select-input__list{
  cursor: pointer;
  display: block;
}
.select-input__label{
  font-size: var(--value-font-size-14);
}
.select-input__icon{
  font-size: var(--value-font-size-14);
  color: rgba(74, 74, 74, 0.7);
}
.select-input__list{
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  border-radius: var(--value-border-radius);
  background-color: var(--white-color);
  box-shadow: var(--value-box-shadow);
  display: none;
  z-index: 1;
}
.select-input__list::before{
  content: "";
  display: block;
  position: absolute;
  top: -3rem;
  right: 0;
  height: 4rem;
  width: 100%;
  /* background-color: blue; */
}
.select-input__item{
  /* padding: 1.4rem 0; */
}
.select-input__item-link{
  display: block;
  padding: 1.4rem 0;
  font-size: var(--value-font-size-14);
  color: var(--text-color);
  text-decoration: none;
}
.select-input__item-link:hover
{
  color: var(--primary-color);
}
/* End : Select */
/* Begin : Pagination */
.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-item{
  margin: 0 1.2rem;
}
.pagination-item--active:hover .pagination-item__link{
  background-color: #fb6445;
}
.pagination-item--active .pagination-item__link{
  background-color: var(--primary-color);
  color: var(--white-color);
}
.pagination-item__link{
  --height : 3rem;
  display: block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 400;
  color: rgba(0,0,0,.4);
  min-width: 4rem;
  height: var(--height);
  line-height: var(--height);
  text-align: center;
  border-radius: var(--value-border-radius);
}

.pagination-item__link-icon{

}
/* End : Pagination */
/* Begin : Scroll Top */
.scroll-top{
  position: fixed;
  bottom: 5%;
  right: 2%;
}
.scroll-top-icon{
  font-size: 4rem;
  background: #fff;
  padding: 1rem;
  border-radius: 50%;
  color: var(--primary-color);
}
/* End : Scroll Top */