:root {
  --primary-color: #ee4d2d;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --border-color : #dbdbdb;
}
* {
  box-sizing: inherit;
}
html {
  /* HACK - 1rem = 10px */
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", "sans-serif";
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: inherit;
  margin: inherit;
}
img {
  width: 100%;
}
.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
.grid__full-width {
  width: 100%;
}
.grid__row {
  display: flex;
  flex-wrap: wrap;
}
/* Begin : Modal */
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  /* display: none; */
}
.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal__body {
  position: relative;
  background-color: var(--white-color);
  margin: auto;
  z-index: 1;
  border-radius: 0.5rem;
}
/* End : Modal */
/* Begin : Auth modal */
.auth-form{
  width: 50rem;
}
.auth-form__container{
  padding: 0 3.2rem;
}
.auth-form__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.auth-form__heading{
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}
.auth-form__switch-btn{
  font-size: 1.6rem;
  color: var(--primary-color);
  font-weight: 400;
}
.auth-form__switch-btn:hover{
  cursor: pointer;
}
.auth-form__form{
  
}
.auth-form__group{}
.auth-form__input{
  margin-top: 1.6rem;
  width: 100%;
  height: 4rem;
  padding: 0 1.2rem;
  font-size: 1.4rem;
  border: .1rem solid #dbdbdb;
  border-radius: .2rem;
  outline: none;
}
.auth-form__aside{}
.auth-form__policy-text{}
.auth-form__policy-link{}
.auth-form__controls{}
.auth-form__socials{}
/* End : Auth modal */
