:root {
  --primary-color: #ee4d2d;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --border-color : #dbdbdb;

  --header-height : 12rem;
  --navbar-height:3.548rem;
  --header-with-search-height:calc(var(--header-height) - var(--navbar-height));


  --value-font-size-14:1.4rem;
  --value-font-size-16:1.6rem;

  --value-font-weight-400:400;

  --value-box-shadow:0 .1rem .2rem #C0C0C0;
  --value-box-shadow-2:0 .1rem 3.125rem rgba(0,0,0,0.2);

  --value-border-radius :.2rem;
}
* {
  box-sizing: inherit;
}
html {
  /* HACK - 1rem = 10px */
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", "sans-serif";
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: inherit;
  margin: inherit;
}
img {
  width: 100%;
}
.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* Begin : Responesive */
.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
.grid__full-width {
  width: 100%;
}
.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1.2rem;
  margin-right: -1.2rem;
}
.grid__column-2{
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  width: 16.6667%;
}
.grid__column-10{
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  width: 83.3334%;
}
/* End : Responesive */

/* Begin : Root */
.d-none{
  display: none!important;
}
/* End : Root */
/* Begin : Modal */
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  -webkit-animation: fadeIn linear .1s;
          animation: fadeIn linear .1s;
  display: none;
}
.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal__body {
  --growth-from : 0.7;
  --growth-to : 1;
  position: relative;
  margin: auto;
  z-index: 1;
  -webkit-animation: growth linear .1s;
          animation: growth linear .1s;
}
/* End : Modal */
/* Begin : Button  */
.btn{
  padding: 0 1.2rem;
  min-width: 12.4rem;
  height: 3.4rem;
  text-decoration: none;
  border: none;
  border-radius: .2rem;
  font-size: 1.5rem;
  outline: none;
  cursor: pointer;
  color:var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.6rem;
}
.btn--size-s{
  height:3.2rem;
  font-size: 1.2rem;
  padding: 0 .8rem;
}
.btn.btn--normal:hover{
  background-color: rgba(0,0,0,0.05);
}
.btn.btn--primary{
  background-color: var(--primary-color);
  color: var(--white-color);
}
.btn.btn--disabled{
  cursor: default;
  background-color: #c3c3c3;
  color:#949494;
}
/* End : Button */
