/* Begin : header */
.header{
    height: var(--header-height);
    background-image: linear-gradient(0,#fe6433,#f53e2d);
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    margin-top: 8px;
}

.header__navbar-item
{
    margin: 0 8px;
    position: relative;
    min-height: 2.6rem;
}
.header__navbar-item--has-qr:hover .header__qr {
    display: block;    
}
.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link
{
    display: inline-flex;
    align-items: center;
}

.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;

}
.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover{
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.header__navbar-item--strong{
    font-weight: 400;
}
.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    width: .1px;
    height: 12px;
    background-color: var(--white-color);
    right: -9px;
    top: calc(50% - 1rem)
}
.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}
.header__navbar-icon{
    font-size: 1.6rem;
    margin: 0 .4rem;
}
.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--white-color);
}
/* End : header */
/* Begin : QR Code */
.header__qr
{
    position: absolute;
    background-color: var(--white-color);
    width: 18.6rem;
    left: 0;
    /* Cách div cha bằng height của cha */
    top: 100%;
    padding: .8rem;
    border-radius: .2rem;
    display: none;
    -webkit-animation: fadeIn ease-in .5s;
            animation: fadeIn ease-in .5s;;
}
/* class mark */
.header__qr::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2rem;    
    left: 0;
    top: -2rem;

}
.header__qr-img{

}
.header__qr-apps{
    display: flex;
    justify-content: space-between;
}
.header__qr-link:nth-child(1){
    margin-left: 1.1rem;
}
.header__qr-link:nth-child(2){
    margin-right: 1.1rem;
}
.header__qr-download-img{
    height: 1.5rem;
}
/* End : QR code */
/* Begin : Header notify */
.header__notify{
    position: absolute;
    top: 118%;
    width: 40.4rem;
    right: 0;
    background-color: var(--white-color);
    border: .1rem solid #D3D3D3;
    cursor: default;
    /* thuộc tính để xem giá trị được hiển thị ở đâu */
    transform-origin: calc(100% - 2rem) top;
    -webkit-animation: headerNotifyGrowth ease-in .2s;
            animation: headerNotifyGrowth ease-in .2s;
    will-change: opacity,transform;
    display: none;

}
.header__notify::before{
    content: "";
    display: block;
    position: absolute;    
    right: 1.2rem;
    top: -3rem;
    border-width: 2rem 2.6rem;
    border-style: solid;
    border-color: transparent transparent var(--white-color);
}
.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2rem;    
    left: 0;
    top: -2rem;
}
.header__notify-header{
    height: 4rem;
    background-color: var(--white-color);
}
.header__notify-header h3{
    color: #999;
    margin: 0;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 4rem;
    margin: 0 0 0 1.2rem;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

}
.header__notify-list{

}
.header__notify-item{
    display: flex;
}
.header__notify-item--viewed{
    background-color: rgb(238, 77, 45,0.1);
}
.header__notify-item:hover{
    background-color: #f7f7f7;
}
.header__notify-link{
    display: flex;
    padding: 1.2rem;
    text-decoration: none;
    
    width: 100%;
}
.header__notify-img{
    width: 4.8rem;
    -o-object-fit: contain;
       object-fit: contain;
}
.header__notify-info{
    margin-left: 1.2rem;
}
.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}
.header__notify-description{
    display: block;
    font-size: 1.2rem;
    line-height: 1.rem;
    color: #756F6E;
}
.header__notify-footer{
    display: flex;
}
.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: .8rem 4.8rem;    
    font-size: 1.4rem;
    font-weight: 400;
    margin: auto;
}
/* End : Header notify */
/* Begin : Auth modal */
.auth-form{
    width: 50rem;
    background-color: var(--white-color);
    border-radius: .5rem;
    overflow: hidden;
  }
  .auth-form__container{
    padding: 0 3.2rem;
  }
  .auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.2rem;
    margin-top: 1rem;
  }
  .auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
  }
  .auth-form__switch-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
  }
  .auth-form__switch-btn:hover{
    cursor: pointer;
  }
  .auth-form__form{
    
  }
  .auth-form__group{}
  .auth-form__input{
    margin-top: 1.6rem;
    width: 100%;
    height: 4rem;
    padding: 0 1.2rem;
    font-size: 1.4rem;
    border: .1rem solid var(--border-color);
    border-radius: .2rem;
    outline: none;
  }
  .auth-form__input:focus{
    border-color: #888;
  }
  
  .auth-form__aside{
    margin-top: 1.8rem;
  }
  .auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 1.2rem;
  }
  .auth-form__text-link{
    color: var(--primary-color);
    text-decoration: none;
  }
  .auth-form__controls{
    margin-top: 8rem;
    display: flex;
    justify-content: flex-end;
  }
  .auth-form__controls-back{
    margin-right: .8rem;
  }
  .auth-form__socials{
    background-color: #f5f5f5;
    padding: 1.6rem 3.6rem;
    display: flex;
    justify-content: space-between;
    margin-top: 2.2rem;
  }
  .auth-form__socials-icon{
    font-size: 1.8rem;
  }
  .auth-form__socials--facebook{
    color:var(--white-color);
    background-color: #3A5A98;
  }
  .auth-form__socials--facebook
  .auth-form__socials-icon{
    color:var(--white-color);
  }
  .auth-form__socials--google{
    color:#666;
    background-color: var(--white-color);
  }
  .auth-form__socials--title{
    margin: 0 3.6rem;
  }
  .auth-form__help{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
  }
  .auth-form__help-separate{
    display: block;
    border-left: .1rem solid #EAEAEA;
    height: 1.8rem;
    margin: 0 1.6rem;
  }
  .auth-form__help-forgot{
    color: var(--primary-color);
  }
  /* End : Auth modal */
  /* Begin : Search */
  .header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 .8rem;
  }
  .header__logo{
    width: 20rem;
  }
  .header__logo-img{
    width: 15rem;

  }
  .header__search{
    flex: 1;
    height: 4rem;
    background-color: var(--white-color);
    border-radius: .2rem;
    display: flex;
    align-items: center;
  }
  .header__search-input{
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 1.6rem;
    border-radius: .3rem;
  }
  .header__search-select{
    border-left: .1rem solid #E8E8E8;
    padding-left: 1.6rem;
    display: flex;
    align-items: center;
    position: relative;
  }
  .header__search-select-label{
    font-size: 1.4rem;
    color: var(--text-color);
  }
  .header__search-select-icon{
    font-size: 1.4rem;
    color: rgba(74, 74, 74,0.7);
    margin: 0 1.4rem;
  }
  .header__search-option{
    position: absolute;
    top: 100%;
    right: 0;
  }
  .header__search-option-item{
    background-color: var(--white-color);
    border-radius: .3rem;
    padding: .8rem;
  }
  .header__search-option-item-label{

  }
  .header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 3.4rem;
    width: 6rem;
    border-radius: .3rem;
    margin-right: .3rem;
    outline: none;
    display: flex;
  }
  .header__search-btn:hover{
    cursor: pointer;
    background-color: #fb6445;
  }
  .header__search-btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);
    margin: auto;
  }
  .header__cart{
    width: 15rem;
    display: flex;
  }
  .header__cart-icon{
    color: var(--white-color);
    font-size: 2.4rem;
    margin: auto;
  }
  /* End : Search */