.app{
  position: relative;
  overflow: hidden;
}
/* Begin : header */
.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #fe6433, #f53e2d);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.header__navbar {
  display: flex;
  justify-content: space-between;
}
.header__navbar-list {
  margin-top: .8rem;
  display: flex;
  align-items: center;
}
.header__navbar-item {
  margin: 0 .8rem;
  position: relative;
  min-height: 2.6rem;
  display: flex;
  align-items: center;
}

.header__navbar-user{
  display: flex;
  justify-content: center; 

}

.header__navbar-user:hover .header__navbar-user-menu{
  
  transform-origin: calc(100% - 3.2rem) top;
  -webkit-animation: headerGrowth linear 0.2s;
  animation: headerGrowth linear 0.2s;
  will-change: opacity, transform;
  display: block;
}


.header__navbar-user-img{
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  border: .1rem solid rgba(0, 0, 0, 0.1);
}
.header__navbar-user-name{
  font-size: var(--value-font-size-14);
  margin-left: .8rem;
  font-weight: var(--value-font-weight-400);
}
.header__navbar-user-menu{
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--white-color);
  width: 14rem;
  z-index: 3;
  box-shadow: var(--value-box-shadow);
  margin-top: .4rem;
  
  transform-origin: calc(100% - 3.2rem) top;
  -webkit-animation: headerHidden linear 0.2s;
  animation: headerHidden linear 0.2s;
  will-change: opacity, transform;
  display: none;  
  

}
.header__navbar-user-menu::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: -2.8rem;
  border-width: 2rem 2.6rem;
  border-style: solid;
  border-color: transparent transparent var(--white-color);
}
.header__navbar-user-menu::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: -2rem;
  height: 2rem;
  /* background-color: blue; */
  width: 100%;
}
.header__navbar-user-item{

}
.header__navbar-user-item--separate{
  border-top: .1rem solid rgba(0, 0, 0, 0.05);
}
.header__navbar-user-item:first-child{
  border-top-left-radius: .2rem;
  border-top-right-radius: .2rem;
}
.header__navbar-user-item:last-child{
  border-bottom-left-radius: .2rem;
  border-bottom-right-radius: .2rem;
}
.header__navbar-user-item-link{
  text-decoration: none;
  color: var(--text-color);
  font-size: var(--value-font-size-14);
  padding: .8rem 1.6rem;
  display: block;  
}
.header__navbar-user-item-link:hover
{
  background-color: #FAFAFA;
}

.header__navbar-item--has-qr:hover .header__qr {
  display: block;
  -webkit-animation: fadeIn linear 0.2s;
  animation: fadeIn linear 0.2s;
}

.header__navbar-item--has-notify:hover .header__notify {
    /* thuộc tính để xem giá trị được hiển thị ở đâu */
    transform-origin: calc(100% - 3.2rem) top;
    -webkit-animation: headerGrowth linear 0.2s;
    animation: headerGrowth linear 0.2s;
    will-change: opacity, transform;
  display: block;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  /* display: inline-flex; */
  align-items: center;
}
.header__navbar-item,
.header__navbar-item-link {
  /* display: inline-block; */
  font-size: var(--value-font-size-14);
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}
.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.header__navbar-item--strong {
  font-weight: var(--value-font-weight-400);
}
.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  width: 0.1px;
  height: 1.4rem;
  background-color: var(--white-color);
  right: -9px;
  top: calc(50% - .8rem);
}
.header__navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
}
.header__navbar-icon-link:nth-child(2){
  margin-left: .3rem;
}
.header__navbar-icon {
  font-size: var(--value-font-size-16);
  margin: 0 0.4rem;
}
.header__navbar-title--no-pointer {
  cursor: text;
  color: var(--white-color);
}
/* End : header */
/* Begin : Header sort */
.header__sort-bar{
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  height: var(--header-sort-height);
  background-color: var(--white-color);
  
  border-top: .1rem solid #E5E5E5;
  border-bottom: .1rem solid #E5E5E5;
  display: none;
}
.header__sort-item{
  flex: 1;
}
.header__sort-link{
  text-decoration: none;
  color: var(--text-color);
  font-size: var(--value-font-size-14);
  display: block;
  height: 100%;
  line-height: var(--header-sort-height);
  text-align: center;
  position: relative;
}
.header__sort-link::before
{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 60%;
  border-left: .1rem solid #E5E5E5;
  transform: translateY(-50%);
}
.header__sort-item:first-child .header__sort-link::before{
  display: none;
}
.header__sort-item--active .header__sort-link{
  color: var(--primary-color);
  border-bottom: .2rem solid var(--primary-color);
}

/* End : Header sort */
/* Begin : QR Code */
.header__qr {
  position: absolute;
  background-color: var(--white-color);
  width: 18.6rem;
  left: 0;
  /* Cách div cha bằng height của cha */
  top: 100%;
  padding: 0.8rem;
  border-radius:var(--value-border-radius);
  display: none;
  -webkit-animation: fadeOut linear 0.2s;
  animation: fadeOut linear 0.2s;
  z-index: 2;
}
/* class mark */
.header__qr::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2rem;
  left: 0;
  top: -2rem;
}
.header__qr-img {
}
.header__qr-apps {
  display: flex;
  justify-content: space-between;
}
.header__qr-link:nth-child(1) {
  margin-left: 1.1rem;
}
.header__qr-link:nth-child(2) {
  margin-right: 1.1rem;
}
.header__qr-download-img {
  height: 1.5rem;
}
/* End : QR code */
/* Begin : Header notify */
.header__notify {
  position: absolute;
  top: 118%;
  width: 40.4rem;
  right: 0;
  background-color: var(--white-color);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  cursor: default;
  transform-origin: calc(100% - 3.2rem) top;
  -webkit-animation: headerHidden linear 0.2s;
  animation: headerHidden linear 0.2s;
  will-change: opacity, transform;
  
  display: none;
  z-index: 2;
  border-radius: var(--value-border-radius);
}
.header__notify::before {
  content: "";
  display: block;
  position: absolute;
  right: 1.2rem;
  top: -3rem;
  border-width: 2rem 2.6rem;
  border-style: solid;
  border-color: transparent transparent var(--white-color);
}
.header__notify::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2rem;
  left: 0;
  top: -2rem;
}
.header__notify-header {
  height: 4rem;
  background-color: var(--white-color);
}
.header__notify-header h3 {
  color: #999;
  margin: 0;
  font-weight: var(--value-font-weight-400);
  font-size: var(--value-font-size-14);
  line-height: 4rem;
  margin: 0 0 0 1.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.header__notify-list {
}
.header__notify-item {
  display: flex;
}
.header__notify-item--viewed {
  background-color: rgb(238, 77, 45, 0.1);
}
.header__notify-item:hover {
  background-color: #f7f7f7;
}
.header__notify-link {
  display: flex;
  padding: 1.2rem;
  text-decoration: none;
  width: 100%;
}
.header__notify-img {
  width: 4.8rem;
  -o-object-fit: contain;
  object-fit: contain;
}
.header__notify-info {
  margin-left: 1.2rem;
}
.header__notify-name {
  display: block;
  font-size: var(--value-font-size-14);
  color: var(--text-color);
  font-weight: var(--value-font-weight-400);
  line-height: 2.8rem;
}
.header__notify-description {
  display: block;
  font-size: 1.2rem;
  line-height: 1rem;
  color: #756f6e;
}
.header__notify-footer {
  display: flex;
}
.header__notify-footer-btn {
  text-decoration: none;
  color: var(--text-color);
  padding: 0.8rem 4.8rem;
  font-size: var(--value-font-size-14);
  font-weight: var(--value-font-weight-400);
  margin: auto;
}
/* End : Header notify */
/* Begin : Auth modal */
.auth-form {
  width: 50rem;
  background-color: var(--white-color);
  border-radius: 0.5rem;
  overflow: hidden;
}
.auth-form__container {
  padding: 0 3.2rem;
}
.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.2rem;
  margin-top: 1rem;
}
.auth-form__heading {
  font-size: 2.2rem;
  font-weight: var(--value-font-weight-400);
  color: var(--text-color);
}
.auth-form__switch-btn {
  font-size: var(--value-font-size-16);
  color: var(--primary-color);
  font-weight: var(--value-font-weight-400);
}
.auth-form__switch-btn:hover {
  cursor: pointer;
}
.auth-form__form {
}
.auth-form__group {
}
.auth-form__input {
  margin-top: 1.6rem;
  width: 100%;
  height: 4rem;
  padding: 0 1.2rem;
  font-size: var(--value-font-size-14);
  border: 0.1rem solid var(--border-color);
  border-radius: var(--value-border-radius);
  outline: none;
}
.auth-form__input:focus {
  border-color: #888;
}
.auth-form__aside {
  margin-top: 1.8rem;
}
.auth-form__policy-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  padding: 0 1.2rem;
}
.auth-form__text-link {
  color: var(--primary-color);
  text-decoration: none;
}
.auth-form__controls {
  margin-top: 8rem;
  display: flex;
  justify-content: flex-end;
}
.auth-form__controls-back {
  margin-right: 0.8rem;
}
.auth-form__socials {
  background-color: #f5f5f5;
  padding: 1.6rem 3.6rem;
  display: flex;
  justify-content: space-between;
  margin-top: 2.2rem;
}
.auth-form__socials-icon {
  font-size: 1.8rem;
}
.auth-form__socials--facebook {
  color: var(--white-color);
  background-color: var(--facebook-color);
}
.auth-form__socials--facebook .auth-form__socials-icon {
  color: var(--white-color);
}
.auth-form__socials--google {
  color: #666;
  background-color: var(--white-color);
}
.auth-form__socials--title {
  margin: 0 3.6rem;
}
.auth-form__help {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.auth-form__help-link {
  text-decoration: none;
  font-size: var(--value-font-size-14);
  color: #939393;
}
.auth-form__help-separate {
  display: block;
  border-left: 0.1rem solid #eaeaea;
  height: 1.8rem;
  margin: 0 1.6rem;
}
.auth-form__help-forgot {
  color: var(--primary-color);
}
/* End : Auth modal */
/* Begin : Logo */
.header__logo {
  width: 20rem;
}
.header__logo-link{
  color: transparent;
  text-decoration: none;
  display: block;
  line-height: 0;
}
.header__logo-img {
  width: 15rem;
}
/* End : Logo */
/* Begin : Search */
.header-with-search {
  height: var(--header-with-search-height);
  display: flex;
  align-items: center;
  margin: 0 0.8rem;
}
.header__search {
  flex: 1;
  height: 4rem;
  background-color: var(--white-color);
  border-radius: var(--value-border-radius);
  display: flex;
  align-items: center;
}
.header__search-input-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}
.header__search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: var(--text-color);
  padding: 0 1.6rem;
  border-radius: var(--value-border-radius);
}
.header__search-input:focus ~ .header__search-history {
  display: block;
}
.header__search-history {
  position: absolute;
  top: calc(100% + 0.4rem);
  left: 0;
  width: calc(100% - 1.6rem);
  background-color: var(--white-color);
  border-radius: var(--value-border-radius);
  box-shadow: 0 0.1rem 0.2rem #c0c0c0;
  display: none;
  z-index: 1;
}
.header__search-history::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2rem;
  top: -2rem;
}
.header__search-history-heading {
  margin: 1.4rem;
  font-size: var(--value-font-size-14);
  color: #999;
  font-weight: var(--value-font-weight-400);
}
.header__search-history-list {
}
.header__search-history-item {
  padding: 1.4rem;
}
.header__search-history-item:last-child {
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}
.header__search-history-item:hover {
  cursor: pointer;
  background-color: #fafafa;
}
.header__search-history-item-link {
  text-decoration: none;
  font-size: var(--value-font-size-14);
  color: var(--text-color);
}
.header__search-select {
  display: flex;
  align-items: center;
  position: relative;
  padding: 1.6rem 1.6rem 1.6rem 3.2rem;
  
}
.header__search-select::before{
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  transform:translateY(calc(-50%));
  height: 40%;
  left: 0;
  border-left: .1rem solid #eaeaea;

  
}
.header__search-select:hover .header__search-option {
  cursor: pointer;
  display: block;
  
  
  -webkit-animation: fadeIn linear 0.2s;
  animation: fadeIn linear 0.2s;
  
  
}

.header__search-select-label {
  font-size: var(--value-font-size-14);
  color: var(--text-color);
}
.header__search-select-icon {
  font-size: var(--value-font-size-14);
  color: rgba(74, 74, 74, 0.7);
  margin: 0 1.4rem;
}
.header__search-option {
  position: absolute;
  top: 100%;
  right: 0;
  width: 15.4rem;
  box-shadow: 0 0.1rem 0.2rem #c0c0c0;
  padding-left: 0;
  /* overflow: hidden; */
  cursor: pointer;  
  -webkit-animation: fadeOut linear 0.2s;
  animation: fadeOut linear 0.2s;
  display: none;
  
}
.header__search-option::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 2rem;
  top: -2rem;
}
.header__search-option-item {
  background-color: var(--white-color);
  padding: 1.4rem;
  text-align: right;
}
.header__search-option-item:first-child {
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}
.header__search-option-item:last-child {
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}
.header__search-option-item:hover {
  cursor: pointer;
  background-color: #fafafa;
}
.header__search-option-item-label {
  font-size: var(--value-font-size-14);
  color: var(--text-color);
}
.header__search-option-item-icon {
  font-size: var(--value-font-size-14);
  color: var(--primary-color);
  margin-left: 0.8rem;
  display: none;
}
.header__search-option-item--active .header__search-option-item-icon {
}
.header__search-btn {
  background-color: var(--primary-color);
  border: none;
  height: 3.4rem;
  width: 6rem;
  border-radius: var(--value-border-radius);
  margin-right: 0.3rem;
  outline: none;
  display: flex;
}
.header__search-btn:hover {
  cursor: pointer;
  background-color: #fb6445;
}
.header__search-btn-icon {
  font-size: var(--value-font-size-14);
  color: var(--white-color);
  margin: auto;
}
/* End : Search */
/* Begin : Mobile - Search */
.header__mobile-search{
  padding: 1rem 1.2rem;
  display: none;
}
.header__mobile-search-icon{
  font-size: 2.6rem;
  color: var(--white-color);
}
.header__search-checkbox:checked ~ .header__search{
  display: flex;
}
/* End : Mobile - Search */
/* Begin : Cart */
.header__cart {
  width: 15rem;
  text-align: center;
}
.header__cart-warp {
  position: relative;
  display: inline-block;
  padding: 1rem 1.2rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

}
.header__cart-warp:hover .header__cart-list {
  
  transform-origin: calc(100% - 3.2rem) top;
  -webkit-animation: headerGrowth linear 0.2s;
  animation: headerGrowth linear 0.2s;
  will-change: opacity, transform;
  display: block;
}

.header__cart-icon {
  color: var(--white-color);
  font-size: 2.4rem;
  margin: auto;
}
.header__cart-notice {
  position: absolute;
  padding: 0.2rem 0.7rem;
  background-color: var(--white-color);
  color: var(--primary-color);
  font-size: var(--value-font-size-14);
  line-height: var(--value-font-size-14);
  border-radius: 1rem;
  top: 0;
  right: 0;
  border: 0.2rem solid #ee4d2d;
}
.header__cart-list {
  position: absolute;
  top: calc(100% + 0.1rem);
  right: 0.1rem;
  background-color: var(--white-color);
  width: 40rem;
  border-radius: var(--value-border-radius);
  box-shadow: var(--value-box-shadow-2);
  text-align: center;
  transform-origin: calc(100% - 3.2rem) top;
  -webkit-animation: headerHidden linear 0.2s;
  animation: headerHidden linear 0.2s;
  will-change: opacity, transform;
  display: none;
  
  
  cursor: default;
  z-index: 1;
}
.header__cart-list::after {
  content: "";
  display: block;
  position: absolute;
  right: 0rem;
  top: -3rem;
  border-width: 2.1rem 2.3rem;
  border-style: solid;
  border-color: transparent transparent var(--white-color);
  cursor: pointer;
}
.header__cart-list--no-cart {
  padding: 2.4rem 0;
}
.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-message {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.header__cart-no-cart-img {
  width: 54%;
  display: none;
}
.header__cart-list-no-cart-message {
  display: none;
  /* display: block; */
  font-size: var(--value-font-size-14);
  margin-top: 1.4rem;
  color: var(--text-color);
}
.header__cart-heading {
  text-align: left;
  margin: 1.4rem;
  font-size: var(--value-font-size-14);
  color: #999;
  font-weight: var(--value-font-weight-400);
}
.header__cart-list-items {
  max-height: 55vh;
  overflow-y: auto;
}
.header__cart-item {
  display: flex;
  padding: 1.2rem;
}
.header__cart-item:hover{
  cursor: pointer;
  background-color: #F8F8F8;
}
.header__cart-item-img{  
  width: 4.8rem;
  height: 4.2rem;
  border: .1rem solid #E8E8E8;
  
}
.header__cart-item-info {
  width: 100%;
  padding-left: .8rem;
  line-height: 1.6;
}
.header__cart-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__cart-item-name {
  font-size: var(--value-font-size-14);
  font-weight: 500;
  color: var(--text-color);
  margin: 0;
  text-align: left;
  max-width: 20rem;
  overflow: hidden;
  
  white-space: nowrap;
  text-overflow: ellipsis;
}
.header__cart-item-price {
  font-size: var(--value-font-size-14);
  color: var(--primary-color);
  font-weight: var(--value-font-weight-400);
}
.header__cart-item-multiply {
  font-size: .9rem;
  margin: 0 .8rem;
  color: #757575;
}
.header__cart-item-quantity {
  font-size: 1.2rem;
  color: #757575;
}
.header__cart-item-body {
  display: flex;
  justify-content: space-between;
}
.header__cart-item-description {
  color: #757575;
  font-size: 1.2rem;
  font-weight: 300;
}
.header__cart-item-remove {
  color: var(--text-color);
  font-size: var(--value-font-size-14);
}
.header__cart-item-remove:hover
{
  color: var(--primary-color);
}
.header__cart-view-cart{
  float: right;
  margin: 1.2rem;
}
.header__cart-view-cart:hover
{
  background-color: #F05D41;
}
/* End : Cart */
/* Begin : App - Container */
.app__container{
  background-color: #F5F5F5;
  margin-top: var(--header-height);
}
.app__content{
  padding-top: 1.4rem;
}
/* End : App - Container */
/* Begin : category */
.category{
  /* background-color: var(--white-color); */
  border-radius: var(--value-border-radius);
  padding: .4rem .8rem;
}
.category__heading{
  font-size: var(--value-font-size-16);
  color: var(--text-color);
  padding: 1.2rem 0;
  border-bottom: .1rem solid rgba(0, 0, 0, 0.05);
  margin-top: 0;
}
.category__heading-icon{
  font-size: var(--value-font-size-14);
  margin-right: .4rem;
}
.category-list{
  
}
.category-item{
  
}
.category-item--active .category-item__link{
  color: var(--primary-color);
}
.category-item__link{
  display: block;
  text-decoration: none;
  color: var(--text-color);
  font-size: var(--value-font-size-16);
  padding: .8rem 1.2rem;

  /* animation */
  position: relative;
  transition: right linear  0.1s;
  right: 0;
}
.category-item--active .category-item__link::before{
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  transform:translateY(calc(-50%));
  left: -1rem;
  border: .4rem solid;
  border-color: transparent transparent transparent var(--primary-color);
}
.category-item__link:hover
{
  right: -.4rem;
  color: var(--primary-color);
}

/* End : category */
/* Begin : mobile - category */
.mobile-category{
  display: none;
}
.mobile-category__list{
  display: flex;
  max-width: 100%;
  overflow-x: auto;
  
}
.mobile-category__list::-webkit-scrollbar{
  display: none;
}
.mobile-category__item{
  flex-shrink: 0;
  margin-right: 1rem;
}
.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link{
  background-color: #87AFD8;
}
.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link{
  background-color: #76C9BD;
}
.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link{
  background-color: #88CF81;
}
.mobile-category__link{
  --line-height:2rem;
  text-decoration: none;
  color: var(--white-color);
  font-size: var(--value-font-size-14);
  line-height: var(--line-height);
  height: calc(var(--line-height) * 2);
  text-align: center;
  width: 11rem;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  border-radius: .2rem;
  font-weight: 300;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  padding: 0 .6rem;
}
/* End : mobile - category */
/* Begin : Filter */
.home-filter{
  background-color: rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
  padding: 1.2rem 2.2rem;
  border-radius: var(--value-border-radius);
  line-height: normal;
}
.home-filter-label{
  font-size: var(--value-font-size-14);
  color: #555;
  margin-right: 1.6rem;
}
.home-filter__btn{
  margin-right: 1.2rem;
  min-width: 9rem;
}
.home-filter__page{
  display: flex;
  align-items: center;
  margin-right: 1.6rem;
  margin-left: auto;
}
.home-filter__page-number{
  font-size: var(--value-font-size-14);
  color: var(--text-color);
  margin-right: 2.2rem;
}
.home-filter__page-current{
  color: var(--primary-color);
}
.home-filter__page-total{

}
.home-filter__page-control{
  border-radius: var(--value-border-radius);
  overflow: hidden;
  display: flex;
  width: 7.2rem;
  height: 3.6rem;
}
.home-filter__page-btn{
  flex: 1;
  display: flex;
  background-color: var(--white-color);
  text-decoration: none;
}
.home-filter__page-btn:first-child{
  border-right: 1px solid #eee;
}
.home-filter__page-btn--disabled{
  cursor: default;
  background-color: #F9F9F9;
}
.home-filter__page-btn--disabled .home-filter__page-icon{
  color: #ccc;
}
.home-filter__page-icon{
  margin: auto;
  font-size: var(--value-font-size-14);
  color: #555;
}
/* End : Filter */
/* Begin : Product */
.home-product{

}
.home-product-item{
    position: relative;
  margin-top: 1rem;
  background-color: var(--white-color);
  border-bottom-left-radius: .2rem;
  border-bottom-right-radius: .2rem;
  box-shadow: var(--value-box-shadow);
  box-shadow: 0 .1rem .2rem 0 rgba(0, 0, 0, 0.1);
  transition: transform ease-in .1;
  will-change: tranform;
}
.home-product-item:hover{
  transform: translateY(-.1rem);
  cursor: pointer;
  box-shadow: 0 .1rem 2rem 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img{
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}
.home-product-item__content{
    padding: 1rem;
}
.home-product-item__name{
  font-size: var(--value-font-size-14);
  font-weight: var(--value-font-weight-400);
  color: var(--text-color);
  line-height: 1.8rem;
  margin: 0 0 1rem 0;
  /* Xử lý chỉ hiện 2 dòng */
  height: 3.6rem;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}
.home-product-item__vouchers{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
}
.home-product-item__voucher-item-1{
    color: rgb(238, 77, 45,1);
    border: .1rem solid rgb(238, 77, 45,0.4);
    padding: .1rem .4rem;
}
.home-product-item__voucher-item-2{
    color: rgba(255,176,0,1);
    border: .1rem solid rgb(238, 77, 45,0.4);
    padding: .1rem .4rem;
}
.home-product-item__price{
    margin-bottom: 1rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    
}
.home-product-item__price-unit{
    font-size: 1rem;
    margin-right: .1rem;
    text-decoration: underline;
}
.home-product-item__price-new{
    display: flex;
    font-size: var(--value-font-size-16);
    color: var(--primary-color);
}
.home-product-item__price-old{
    display: flex;
    font-size: var(--value-font-size-14);
    color: rgba(0,0,0,.26);
    text-decoration: line-through;
    max-width: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.home-product-item__price-discount{
    background-color: rgba(254,238,234,1);
    color: var(--primary-color);
    font-weight: 500;
    padding: .1rem .3rem;
}
.home-product-item__rating{
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 1rem;
}
.home-product-item__rating-star{

}
.home-product-item__rating-star-icon{

}
.home-product-item__rating-star-icon--good{
    color: var(--gold-color)
}
.home-product-item__rating-star-icon--bad{
    color: rgba(255,176,0,0.5);
}
.home-product-item__rating-purchase{
    margin-left: .8rem;
    color: rgba(0,0,0,.87);
    font-size: var(--value-font-size-13);
}
.home-product-item__location{
    display: flex;
}
.home-product-item__location-deli{
    font-size: var(--value-font-size-12);
    color: rgba(38,170,153,1);
    font-weight: 400;
}
.home-product-item__location-deli-icon{
    
}
.home-product-item__location-deli-name{
    margin-left: .4rem;
    
}
.home-product-item__location-place{
    margin-left: .8rem;
    font-size: var(--value-font-size-13);
    color: rgba(0,0,0,.46);
    font-weight: 400;
}
.home-product-item__location-place-icon{

}
.home-product-item__location-place-name{

}
.home-product-item__badge{
    position: absolute;
    top: 1rem;
    left: -.4rem;
    color: var(--primary-color);
    background-color: currentColor;
    
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0 .4rem;
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;

}
.home-product-item__badge::before{
    content: "";
    display: block;
    position: absolute;
    bottom:-.36rem ;
    left: 0;
    
 /* border-width: .3rem;
 border-style: solid;
 border-color: blue blue transparent transparent; */

    border-top: .4rem solid currentColor;
    border-left: .4rem solid transparent;

    -webkit-filter: brightness(40%);

            filter: brightness(40%);
  
}
.home-product-item__badge-icon{
    font-size: .9rem;
    color: var(--white-color);
}
.home-product-item__badge-name{
    color: var(--white-color);

}
.home-product-item__sale-off{
    position: absolute;
    top: 0;
    right: 0;
    width: 4rem;
    height: 3.6rem;
    background-color: rgba(255, 216, 64, .9);
    text-align: center;
    padding: .4rem 0;
    border-top-right-radius: .2rem;
    /* border-top: .4rem solid red;
    border-right: .4rem solid red; */


}
.home-product-item__sale-off::after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -.5rem;
    border-width: 0 2rem .6rem;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, .9) transparent rgba(255, 216, 64, .9);
}
.home-product-item__sale-off-percent{
    color: #ee4d2d;
    font-weight: 600;
    font-size: var(--value-font-size-12);
    line-height: 1.2rem;
}
.home-product-item__sale-off-label{
    font-size: var(--value-font-size-13);
    color: var(--white-color);
    line-height: 1.3rem;
    font-weight: 600;
}
/* End : Product */
/* Begin : Pagination */
.home-product__pagination{
  margin: 4rem 0 8rem;

}
/* End : Pagination */
/* Begin : Footer */
.footer{
  border-top:.4rem solid var(--primary-color);
}

.footer-endow{
}
.footer-endow-list{
  padding: 3.6rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-endow__item{
  display: flex;
  font-size: var(--value-font-size-16);
  color: var(--light-black-color);  
  line-height: 1.2;
  align-items: center;
}
.footer-endow__item-icon{
  font-size: 2.5rem;
  padding: .9rem;
  background-color: #d0011b;
  border-radius: 50%;
  color: var(--white-color);
}
.footer-endow__item-icon--modifier{
  background-color: #fff;
  color: #d0011b;
}
.footer-endow__item-label{
  margin-left: 1.6rem;
  display: flex;
  flex-direction: column;
}

.footer-info{
  padding: 3.6rem 0;
  border-top: 1px solid rgba(0,0,0,.09);
  background-color: #fbfbfb;
}
.footer-info__heading{
  text-transform: uppercase;
}
.footer-info-list{
  padding: 0;
}
.footer-info-list__item{
  line-height: 2.4rem;
}
.footer-info-list__item-link{
  text-decoration: none;
  font-size: var(--value-font-size-12);
  color: rgba(0,0,0,.45);
}
.footer-info-list__item-link:hover
{
  color:var(--primary-color);
}
.footer-info-payment{

}
.footer-info-payment__item{
  border-radius: .2rem;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.2);
  width: 6rem;
  height: 3rem;
  margin: .4rem 0;
  padding: .4rem;
}
.footer-info-payment__item-img{

}
.footer-info-transport{

}
.footer-info-transport__item{
  border-radius: .2rem;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.2);
  width: 6rem;
  height: 3rem;
  margin: .4rem 0;
  padding: .4rem;
}
.footer-info-transport__item-img{

}
.footer-info-contact{

}
.footer-info-contact__item{
  line-height: 2.4rem;
}
.footer-info-contact__item-link{
  text-decoration: none;
}
.footer-info-contact__item-icon{
  font-size: var(--value-font-size-13);
  margin-right: .4rem;
  color: var(--text-color);
}
.footer-info-contact__item-label{
  font-size: var(--value-font-size-12);
  color: rgba(0,0,0,.45);
}
.footer-info-download{

}
.footer-info-download__qr{
  display: flex;
  border-radius: .2rem;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.2);
}
.footer-info-download__qr-img{
  padding: .4rem;
  flex: 1;
}
.footer-info-download__list{
  /* margin-top: .8rem; */
}
.footer-info-download__list-item{
  line-height: 4rem;
  /* margin-bottom: 2rem; */

}
.footer-info-download__list-item-link{
  text-decoration: none;
  padding: .8rem;
  border-radius: .2rem;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.2);
}
.footer-info-download__list-item-icon{
  font-size: var(--value-font-size-13);
  margin-right: .4rem;
  color: var(--text-color);
}
.footer-info-download__list-item-label{
  font-size: var(--value-font-size-12);
  color: var(--text-color);
  font-weight: 600;
}
.footer-copyright-1{
  padding: 3.6rem 0;
  background-color: #fbfbfb;
  border-top: 1px solid rgba(0,0,0,.09);
}
.footer-copyright-1__label{
  font-size: var(--value-font-size-13);
  color: var(--light-black-color);  
  display: inline-flex;
}
.footer-copyright-1__list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer-copyright-1__list-item{
  /* margin: 0 .8rem; */
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: .1rem solid rgba(0,0,0,.2);
}
.footer-copyright-1__list-item:first-child{
  margin-left:1rem;
  padding-left:0;
  border-left: 0;
}
.footer-copyright-1__list-item-link{
  font-size: var(--value-font-size-13);
  color: var(--light-black-color);  
  text-decoration: none;
}
.footer-copyright-2{
  background-color: #f5f5f5;
  padding: 3.6rem 0;
}
.footer-copyright-2-1{

}
.footer-copyright-2-1__list{
  display: flex;
  justify-content: center;
}
.footer-copyright-2-1__list-item{
  /* margin: 0 2rem; */
  padding-left: 3rem;
  margin-left: 3rem;
  border-left: .05rem solid rgba(0,0,0,.1);
}
.footer-copyright-2-1__list-item:first-child{
  padding-left: 0;
  margin-left: 0;
  border-left: none;
}
.footer-copyright-2-1__list-item-link{
  text-decoration: none;
  font-size: var(--value-font-size-12);
  color: var(--light-black-color);  
}
.footer-copyright-2-2{
  height: 8rem;
}
.footer-copyright-2-2__list{
  display: flex;
  justify-content: center;
}
.footer-copyright-2-2__list-item{

}
.footer-copyright-2-2__list-item-link{

}
.footer-copyright-2-2__list-item-icon{
  width: 20rem;
}
.footer-copyright-2-3{
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
.footer-copyright-2-3__item{
  font-size: var(--value-font-size-12);
  color: var(--light-black-color);  
}
.footer-copyright-2-4{

}
.footer-copyright-2-4__list{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.8;
}
.footer-copyright-2-4__list-item{

}
.footer-copyright-2-4__list-item-label{
  font-size: var(--value-font-size-12);
  color: var(--light-black-color);  
}
/* End : Footer */
