
/* MOBILE & TABLET */
@media (max-width: 63.9375em){
    :root{
        --header-height : 6.8rem;
        --navbar-height:0rem;
    }
    .hide-on-mobile-table{
        display: none;
    }
    .header__cart-warp:hover .header__cart-list {
  
        transform-origin: unset;
        -webkit-animation: fadeDown linear 0.2s;
        animation: fadeDown linear 0.2s;
        will-change: unset;
        
      }
    .header__cart-list{
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        
        transform-origin: unset;
        -webkit-animation: fadeUp linear .2s;
        animation: fadeUp linear .2s;
        will-change: unset;

        padding: 0 calc((100% - 64.4rem) / 2);


    }
    .header__cart-list::after{
        display: none;
    }
    .app__container{        
        margin-top: calc(var(--header-height) + var(--header-sort-height));
      }
    .header__sort-bar{
        display: flex;
    }
    .mobile-category{
        display: block;
    }
    
    .footer-endow{
        padding: 2.6rem 0;
    }
    .footer-endow__item-icon{
        font-size: 2.2rem;
        padding: .6rem;
      }
    .footer-endow__item-label{      
        margin-left: .4rem;  
        font-size: var(--value-font-size-10);        
      }
      .footer-info{
        padding: 2.6rem 0;
      }
      .footer-info__heading{
        font-size: var(--value-font-size-11);
      }
      .footer-info-list__item{
        line-height: 2.2rem;
      }
      .footer-info-list__item-link{
        font-size: var(--value-font-size-10);
      }
      .footer-info-payment__item {        
        width: 4.8rem;
        height: 2.6rem;
        margin: 0.2rem 0;
        padding: 0.4rem;
    }
    .footer-info-transport__item{
        width: 4.8rem;
        height: 2.6rem;
        margin: 0.2rem 0;
        padding: 0.4rem;
      }
      .footer-info-contact__item-label{
        font-size: var(--value-font-size-10);
      }
      .footer-info-download__list-item-icon{
        font-size: var(--value-font-size-12);
      }
      
      .footer-info-download__list-item-label{
        font-size: var(--value-font-size-10);
      }
      .footer-copyright-1{
        padding: 2.6rem 0;
      }
      .footer-copyright-1__label{
        font-size: var(--value-font-size-11);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .footer-copyright-2{
        padding: 2.6rem 0;
      }
      .footer-copyright-2-1__list-item-link{
        font-size: var(--value-font-size-11);
      }
      .footer-copyright-2-1__list-item{
        padding-left: 1.2rem;
        margin-left: 1.2rem;
      }
      .footer-copyright-2-4__list-item-label{
        font-size: var(--value-font-size-10);
      }
      
}
/* TABLET */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .hide-on-table{
        display: none;
    }
    .header__cart{
        width: 8rem;
        text-align: right;
    }
}
/* MOBILE */
@media (max-width: 46.1875em) {
    .app__container{
        margin-left: .54rem;
        margin-right: .6rem;
    }
    .hide-on-mobile{
        display: none;
    }
    .header-with-search{
        justify-content: space-between;
    }
    .header__logo{
        width: unset;
    }
    
    .header__search{
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        height: var(--header-sort-height);
        box-shadow: var(--value-box-shadow);
        z-index: 1;
        padding: 0 1.2rem;
        -webkit-animation: sideDown linear .2s;
                animation: sideDown linear .2s;
        /* display: flex; */
    }
    .header__search-history{
        position: fixed;
        top: calc(var(--header-height) + var(--header-sort-height));
        left: 0;
        width: 100%;
        
        
    }
    .header__search-history-heading{
        padding: 0 1.2rem;
    }
    .header__search-history-item{
        padding: 1.4rem 2.6rem;
    }
    .header__cart{
        width: unset;
    }
    .pagination-item{
        margin: 0;
    }
    .pagination-item__link{
        --height : 2.8rem;
        font-size: var(--value-font-size-16);
        min-width: 3.6rem;
    }
    .header__mobile-search{
        display: block;
    }
    .header__logo-img{
        width: 11rem;
    }

    .footer-endow{
        padding: 1.6rem 0;
    }
    

}
